
/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
   
h1 {
    font-size: 350%;
}

h2 {
   font-size: 100%;
}
}



/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 600px) {

    h1 { font-size: 240%; }
    
    h2 { font-size: 75%; }

    br { display: none; }
    

    .large-btn, input[type=submit] {
        padding: 8px 16px;
        font-size: 80%;
    }
      
    h3 {
        font-size: 100%;
        margin: 15px;
      }
    
      
    h3:after { margin-top: 15px; }
    
h4 { font-size: 100%;
    margin-bottom: 5px;
 }

p { 
    line-height: 130%; 
    font-size: 90%;
}

.about-section { margin-bottom: 5vh; }

 .about-section .row { flex-direction: column; }

.box {
    max-width: 100%;
    padding: 7px;
}

.toolkit {
    margin-top: 15px;
}


.project-section {
    padding: 4vh;
}

.project-section .flexItem-1 {
    flex-direction: column;
}

.project-section .flexItem-2 {
   flex-direction: column-reverse;
}

.project-section .box {
    margin-bottom: 8vh;
}

.pro-p { margin-bottom: 30px; }

.box img {
    width: 100%;
}

.pro-text {
    margin-right: 0vw;
}


.section-testimonials div {
    padding-bottom: 6vh;
    padding: 1.5vh;
}

footer {
    font-size: 70%;
}

.testimonial-carousel h3 {
   font-size: 200%;
  }

  .title-section {
      margin-top: -31px;
  }
  
  
  .title-section .row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 18px;
    background-color: #fdd007;
  }
  
  .box-1 {
    max-width: 100%;
    padding: 80px;
    border: 2px solid #000000;
  }

  .box-1 h1 {
   font-size: 100%;
  }
  
  .box-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .box-child {
    max-width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-right: 0px;
  }
  
  
  .box-child h3 {
    color: #000000;
    font-size: 80%;
  }
  
    
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    
}

.btn-main, input[type=submit] {
    padding: 4px 12px;
}
