* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
  }

  /* PARAGRAPHS */
   p{
     line-height: 145%;
     margin-bottom: 8px;
     color: #fdd007;
   }

  /* HEADINGS */

  h1 {
    color: #fdd007;
    font-size: 450%;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  h2 {
    color: rgb(236, 236, 236);
    font-size: 180%;
    font-weight: 300;
    margin-bottom: 25px;
  }

  h3 {
    color: #fdd007;
    font-size: 200%;
    font-weight: 400;
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
  }

h4 {
  font-size: 240%;
  color: #fdd007;
}



  /* HEADER */

  header {
      height: 100vh;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }

  .head-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

 /* NAVBAR */

 /*
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #060606;
    color: rgb(235, 235, 235);
    text-transform: uppercase;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.brand-title {
    font-size: 100%;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: rgb(235, 235, 235);
    padding: 1.5rem;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 90%;
    transition: color 0.2s;
}


.navbar-links li a:hover {
  color: #00c527;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;

    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

*/

nav .logo {
  margin-top: 12px;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  background-color: #fdd007;
  height: 8vh;
  z-index: 1;
}

nav span {
  margin-right: 15px;
  margin-top: 5px;

}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fdd007;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* BUTTONS */

.large-btn, input[type=submit] {
  padding: 12px 12px;
  border: 3px solid #fdd007;
  text-decoration: none;
  color: #fdd007;
  transition: background-color 0.3s ;
}

input[type=submit] {
  cursor: pointer;
}

.large-btn:hover {
 color: #070707;
 background-color: #fdd007;
}

/* ABOUT SECTION */

.about-section {
  background-color: #333;
  padding: 40px;
}

.about-section h3 {
  margin-top: 10vh;
}

.about-section .row {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.box {
  max-width: 50%;

}
.box ul {
   list-style: none;
}

/* TITLE SECTION */

.title-section {
  text-align: center;

}


.title-section .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 180px;
  background-color: #fdd007;
}

.box-1 {
  max-width: 100%;
  padding: 80px;
  border: 2px solid #000000;
}

.box-1 h1 {
  color: #000000;
}

.box-2 {
  display: flex;
  justify-content: center;
}

.box-child {
  max-width: 33.3333333333%;
  border: 2px solid #000000;
  padding: 20px;
  margin-top: 20px;
  margin-right: 10px;
}

.box-child:last-child {
  margin-right: 0px;
}

.box-child h3 {
  color: #000000;
}

/* PROJECT SECTION */

.project-section {
  background-color: #333;
  padding: 10vh;
}

.project-section .flexItem-1 {
  display: flex;
  justify-content: space-between;
}

.project-section .flexItem-2 {
  display: flex;
  justify-content: space-between;
}


.project-section .box {
  margin-bottom: 15vh;
}

.pro-p {
 max-width: 80%;
}

.box img {
  width: 70%;
}

.pro-text {
  margin-right: 5vw;
}

.testimonial-carousel  {
  background-color: #fdd007;
}

.testimonial-carousel h3 {
  color: #000000;
  font-size: 150%;
}

/* TESTIMONIALS */
.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(resources/bg-3.jpg);
  background-size: cover;
  color: #fff;
  padding: 5px;
  background-attachment: fixed;
 
}

.section-testimonials div {
  padding-bottom: 7vh;
}

.section-testimonials h3 {
  color: #fff;
  margin-top: 10vh;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

blockquote:before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}
/* FORM */

.contact-form {
  width: 60%;
  margin: 0 auto;
  margin-top: 8vh;
  margin-bottom: 10vh;
}

.section-form h3 {
  margin-top: 10vh;
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid rgb(175, 175, 175);
  background-color: rgb(245, 245, 245);
  font-size: 90%;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  border: 1px solid #574b90;
}

textarea {
  height: 120px;
}

*:focus {outline: none;}

input[type=submit] {
  font-size: 100%;
  margin-top: 5px;
}


/* FOOTER */

footer {
  background-color: #333;
  padding: 20px;
  font-size: 80%;
  text-align: center;
}

.social-links {
  list-style: none;
  cursor: pointer;
}

.social-links .icon {
  display: inline-block;
  margin-right: 20px;
}

.social-links .icon:last-child {
  margin-right: 0;
}

.social-links .icon:link,
.social-links .icon:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.social-links .icon {
  font-size: 200%;
  color: rgb(136, 135, 135);
}

.footer-nav li a:active {
  color: #ddd;
}

.social-links .icon:visited {
  font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-twitter:hover {
  color: #00aced;
}

.ion-social-dribble:hover {
  color: #b32671;
}

.ion-social-instagram:hover {
  color: #517fa4;
}


footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}
